@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.gallery-image-fade-in {
  animation: gallery-image-fade-in 1s ease-in-out forwards;
}

@keyframes gallery-image-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
